.app-header {
  height: 110px;
  line-height: 60px;
  border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: bold;
  padding-left: 5px;
  color: rgb(50, 50, 50);
}

.app-header .app-header--subtitle {
  font-family: "Open Sans";
  font-size: 16px;
  padding-left: 5px;
  color: rgb(50, 50, 50);
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "controllers fig1 fig1 fig1 fig1"
      "controllers fig1 fig1 fig1 fig1"
      "controllers fig2 fig2 fig2 fig2"
      "controllers fig2 fig2 fig2 fig2";
    }
}

/* For devices larger than 500px */
@media (min-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
      "controllers fig1 fig1 fig1 fig1 fig1 fig1"
      "controllers fig1 fig1 fig1 fig1 fig1 fig1"
      "controllers fig2 fig2 fig2 fig2 fig2 fig2"
      "controllers fig2 fig2 fig2 fig2 fig2 fig2";
    }
}

.controllers {
  font-family: "Open Sans";
  grid-area: controllers;
  font-size: 18px;
  padding-left: 5px;
}

.fig1 { 
  grid-area: fig1; 
  margin-top: 5px;}
.fig2 { grid-area: fig2; }

input[type="number"],
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  font-family: inherit;
  font-size: inherit;}

  label {
    font-family: "Open Sans";
    font-size: 18px;
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
  }