/* For devices larger than 400px */
@media (min-width: 400px) {
  .grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.5fr 0.1fr 2.4fr 2.3fr;
    gap: 0px 15px;
    grid-template-areas:
      "header header"
      ". ."
      "controllers fig1"
      "controllers fig2";
  }

  .header { 
    grid-area: header; 
    height: 110px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
  }

  .header .header--title {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
    color: rgb(50, 50, 50);
  }
  
  .header .header--subtitle {
    font-family: "Open Sans";
    font-size: 16px;
    padding-left: 5px;
    color: rgb(50, 50, 50);
  }

  .controllers { 
    font-family: "Open Sans";
    grid-area: controllers;
    font-size: 18px;
    padding-left: 5px; }
  
  .fig1 { 
    grid-area: fig1; 
    margin-top: 5px; }

  .fig2 { 
    grid-area: fig2; }
}


/* For devices larger than 500px */
@media (min-width: 500px) {
  .grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.5fr 0.1fr 2.4fr 2.3fr;
    gap: 0px 15px;
    grid-template-areas:
      "header header"
      ". ."
      "controllers fig1"
      "controllers fig2";
  }

  .header { 
    grid-area: header; 
    height: 110px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;}

  .header .header--title {
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
    color: rgb(50, 50, 50);
  }
  
  .header .header--subtitle {
    font-family: "Open Sans";
    font-size: 16px;
    padding-left: 5px;
    color: rgb(50, 50, 50);
  }

  .controllers { 
    font-family: "Open Sans";
    grid-area: controllers;
    font-size: 16px;
    padding-left: 5px; }
  
  .fig1 { 
    grid-area: fig1; 
    margin-top: 5px; }

  .fig2 { 
    grid-area: fig2; }
}

input[type="number"],
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  font-family: inherit;
  font-size: inherit;
}

label {
    font-family: "Open Sans";
    font-size: 18px;
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
}

img {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  max-width: 150px;
  padding-top: 20px;
  padding-right: 20px;
}